@model IEnumerable<TI2_proj.Models.Musicas>

@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            var availableTags = [];
            @foreach(var item in Model)
            {
                @:availableTags.push("@Html.DisplayFor(m => item.Titulo)");
            }
            $("#tags").autocomplete({
            source: availableTags,
                select: function (e, obj) {
                }
            });
            });
    </script>
</head>
<body>
    <div>
    </div>
    <div class="demo">

        <div class="ui-widget">
            <br />
            <label for="tags" id="SearchLablel">Search your song: </label><form method="post"><input id="tags" name="tags"/> <input type="submit" value="Search" class="btn btn-default"/></form>
        </div>
        @if (ViewBag.mEncontradas != null)
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Titulo)
                    </th>
                    <th>
                        Album
                    </th>
                    <th>
                        Artist(s)
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (TI2_proj.Models.Musicas item in ViewBag.mEncontradas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Album.Titulo)
                        </td>
                        <td>
                            @foreach(var artItem in item.Artistas)
                            {
                                <p>
                                    @Html.DisplayFor(modelItem => artItem.Artista.Nome)
                                </p>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Search Like This", "Search", new { id = item.MusicaID, attr="compositor" })
                        </td>
                    </tr>
                }

            </table>

        }

    </div>
</body>
</html>